.profile__button-edit {
    min-width: 24px;
    min-height: 24px;
    background-image: url("../../../images/edit.svg");
    background-color: #000;
    border: 1px solid #FFFFFF;
    background-position: center;
    background-repeat: no-repeat;
    align-self: center; 
}

.profile__button-edit:hover {
    cursor: pointer;    
    opacity: 0.5;
}

@media screen and (max-width: 930px) {
    .profile__button-edit {
        min-width: 18px;
        min-height: 18px;
    }
}
