.popup__close {
    width: 32px;
    position: absolute;
    top: -41px;
    right: -38px;
}

.popup__close:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 620px) {
    .popup__close {
        top: -50px;
        right: 0px;
    }
}

@media screen and (max-width: 525px) {
    .popup__close {
        width: 20px;
        top: -35px;
    }
}