.profile__name {
    margin: 0;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;   
}

@media screen and (max-width: 930px) {
    .profile__name {
        margin-right: 10px;
        font-size: 27px;
        line-height: 33px;
        text-align: center;
    }
}