.profile__button-add {
    width: 150px;
    height: 50px;
    background-image: url("../../../images/add.svg");
    background-color: #000;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    background-position: center;
    background-repeat: no-repeat;
    align-self: center;
}
.profile__button-add:hover {
    opacity: 0.6;
}

@media screen and (max-width: 930px) {
    .profile__button-add {
        margin: 38px 0 0;
        width: 100%;
    }
}