@import url("../vendor/normalize.css");
@import url("../vendor/font.css");
@import url("../blocks/page/page.css");


@import url("../blocks/header/header.css");
@import url("../blocks/header/__logo/header__logo.css");
/*---------------------- header ----------------------*/

@import url("../blocks/profile/profile.css");
@import url("../blocks/profile/__avatar-container/profile__avatar-container.css");
@import url("../blocks/profile/__img/profile__img.css");
@import url("../blocks/profile/__info/profile__info.css");
@import url("../blocks/profile/__info-container/profile__info-container.css ");
@import url("../blocks/profile/__name/profile__name.css");
@import url("../blocks/profile/__button-edit/profile__button-edit.css");
@import url("../blocks/profile/__activity/profile__activity.css");
@import url("../blocks/profile/__button-add/profile__button-add.css");
/*---------------------- profile ----------------------*/

@import url("../blocks/cards/cards.css");
@import url("../blocks/card/card.css");
@import url("../blocks/card/__img/card__img.css");
@import url("../blocks/card/__container/card__container.css");
@import url("../blocks/card/__title/card__title.css");
@import url("../blocks/card/__button-like/card__button-like.css");
@import url("../blocks/card/__button-like/_active/card__button-like_active.css");
/*---------------------- cards && card ----------------------*/

@import url("../blocks/popup/popup.css");
@import url("../blocks/popup/_opened/popup_opened.css");
@import url("../blocks/popup/__close/popup__close.css");
@import url("../blocks/popup/__container/popup__container.css");
/*---------------------- popup ----------------------*/

@import url("../blocks/form/form.css");
@import url("../blocks/form/__title/form__title.css");
@import url("../blocks/form/__input/form__input.css");
@import url("../blocks/form/__button/form__button.css");
/*---------------------- form ----------------------*/

@import url("../blocks/footer/footer.css");
@import url("../blocks/footer/__copyright/footer__copyright.css");
/*---------------------- footer ----------------------*/
