.footer {
    width:  69%;
    margin: 0 auto;
    padding-top: 67px;
    padding-bottom: 60px;
}

@media screen and (max-width: 880px) {
    .footer {
        width: 100%;
        padding-top: 48px;
        padding-bottom: 36px;
        margin: 0 0 0 19px;
    }
}