.element__button-like {
    width: 24px;
    height: 19px;
    background-image: url("../../../images/like.svg");
    background-repeat: no-repeat;
    background-color: #FFF;
    border: 0;
}

.element__button-like:hover {
    opacity: 0.5;
}